/* ABOUT.JS SECTION */

.about-image {
    max-width: 100%; /* Ensure the image scales correctly */
    width: 200px;
    height: auto;
    margin-bottom: 20px; /* Add margin-bottom for mobile view */
  }

  /* Font styling for text */
.card-text {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
  }
  
  /* Font styling for header */
  .card-title {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

#about{
  margin-bottom: 12rem;
  }

  
  /* Tablet view */
  @media (min-width: 768px) {
    .about-image {
      width: 250px;
      margin-bottom: 0;
    }
  }
  
  /* Desktop view */
  @media (min-width: 992px) {
    .about-image {
      width: 300px;
    }
  }
  
  