/* CONTACT SECTION */

/* Styling for the header element in the contact section */
.contact-header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 50px;
}
/* Styling for the custom send message button */
.custom-send-message-button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
  transition-duration: 0.4s;
}
/* Styling for the custom send message button when hovered over */
.custom-send-message-button:hover {
  background-color: #16651a;
  color: white;
}
