/* HEADER SECTION */
  
  /* FOR FUTURE USE AND DEVELOPMENT OF THE HEADER SECTION */
  
  /* CSS for Old Devices Smaller than 320px (mobile) */
  @media (max-width: 320px) {
    .text-white.text-decoration-none {
      font-size: 24px;
    }
  
    .fa-knight {
      font-size: 20px;
    }
  }
  
  /* CSS for screens between 321px and 575px (mobile) */
  @media (min-width: 321px) and (max-width: 575px) {
    .text-white.text-decoration-none {
      font-size: 37px;
    }
  
    .fa-knight {
      font-size: 33px;
    }
  }
  
  /* CSS for screens between 576px and 992px (tablet) */
  @media (min-width: 576px) and (max-width: 992px) {
    .text-white.text-decoration-none {
      font-size: 58px;
    }
  
    .fa-knight {
      font-size: 54px;
    }
  }
  
  /* CSS for screens greater than 992px (desktop) */
  @media (min-width: 993px) {
    .text-white.text-decoration-none {
      font-size: 80px;
    }
  
    .fa-knight {
      font-size: 76px;
    }
  }
  
  .fa-knight {
    margin-bottom: 10px;
  }
  
  .text-white.text-decoration-none {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    padding: 10px;
  }
  