/* PORTFOLIO SECTION */

/* Styling for portfolio section title */
.portfolio-title {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 2.6rem;
  font-size: 55px;
}
/* Set default font and line height for body element */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.4;
  background-color: #f8f9fa;
}
/* Styling for card body element */
.card-body {
  text-align: center;
}
/* Styling for card element */
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
  text-align: center;
}
/* Styling for card image element */
.card-img-top {
  max-height: 200px;
  object-fit: contain;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* Styling for card title element */
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}
/* Styling for card text element */
.card-text {
  font-size: 0.9rem;
}
/* Styling for deployed and repo buttons */
.card-body .btn-deployed,
.card-body .btn-repo {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-decoration: none;
  margin-right: 0.5rem;
  color: #ffffff;
  border: none;
}
/* Styling for deployed button */
.card-body .btn-deployed {
  background-color: #0671fc;
}
.card-body .btn-deployed:hover {
  background-color: #0352a7;
  text-decoration: none;
  color: #ffffff;
}

/* Styling for repo button */
.card-body .btn-repo {
  background-color: #2db94e;
}
.card-body .btn-repo:hover {
  background-color: #1a622a;
  text-decoration: none;
  color: #ffffff;
}
/* Styling for deployed and repo buttons when hovered over */
.card-body .btn-deployed:hover,
.card-body .btn-repo:hover {
  text-decoration: none;
  color: #ffffff;
}

/* Set margin for container element */
/* .container {
  margin-top: 2rem;
} */

/* Styling for H2 element */
h2 {
  text-align: center;
  margin-bottom: 1rem;
}

/* Styling for project container element */
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 100%;
}
/* set height to auto */
@media (max-width: 767.98px) {
  .project-container {
    height: auto;
  }
}
/* portfolio wrapper */
.portfolio-wrapper {
  margin-top: 3rem;
  margin-bottom: 20rem;
}

/* Tablet view */
/* @media (max-width: 768px) {
    .card {
      width: 250px;
      margin-bottom: 0px;
    }
    .portfolio-wrapper{
      margin-bottom: 25rem;
    }
  } */

/* Desktop view */
/* @media (max-width: 992px) {
    .card {
      width: 300px;
    }
    .portfolio-wrapper {
      margin-bottom: 20rem;
    }
  } */
