.flex-container{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;

}

/* src/App.css */
.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30' fill='%23fff'%3e%3cpath d='M4 7h22v3H4zM4 15h22v3H4zM4 23h22v3H4z'/%3e%3c/svg%3e");
}

.theme-light {
  --bg-color: #f8f9fa;
  --text-color: #212529;
}

.theme-dark {
  --bg-color: #343a40;
  --text-color: #f8f9fa;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* ABOUT.JS SECTION */

.about-image {
  max-width: 100%; /* Ensure the image scales correctly */
  width: 200px;
  height: auto;
  margin-bottom: 20px; /* Add margin-bottom for mobile view */
}

/* Tablet view */
@media (min-width: 768px) {
  .about-image {
    width: 250px;
    margin-bottom: 0; /* Remove margin-bottom for tablet view */
  }
}

/* Desktop view */
@media (min-width: 992px) {
  .about-image {
    width: 300px;
  }
}
